<p id="notice"><%= notice %></p>

<p>
  Pass this around to your compadres in healthchecking: <br>
  <%= text_field_tag nil, request.url, readonly: true, size: 60 %>
</p>

<p>Participants so far:</p>

<p class="opinion-avatars">
  <% opinions = @healthcheck.opinions.select(&:persisted?) %>
  <% if opinions.empty? %>
    <span class="placeholder">Nobody yet. Boldly go where no one has opined before.</span>
  <% else %>
    <%= render opinions %>
  <% end %>
</p>

<%= render @healthcheck %>

<p>Your own opinion on this project’s health:</p>

<p>
  <%= form_for @opinion do |form| %>

    <!-- <style>
      input[type="radio"] {
          position:absolute;
          clip: rect(0,0,0,0);
          clip: rect(0 0 0 0);
      }

      input[type="radio"] + label::before {
          content: "<%= Emoji::RED.sample %>";
      }

      input[type="radio"]:checked + label::before {
          content: "<%= Emoji::RED.sample %>";
      }
    </style> -->

    <% Healthcheck::DIMENSIONS.each do |dimension| %>
      <div style="margin-bottom: 1rem">
        <%= form.label dimension %>
  <!--       <%= form.radio_button dimension, 1 %><%= form.label dimension, "", value: 1 %>
        <%= form.radio_button dimension, 2 %><%= form.label dimension, "", value: 2 %>
        <%= form.radio_button dimension, 3 %><%= form.label dimension, "", value: 3 %>
   -->
        <div name="opinion[<%= dimension %>]" style="height: 3rem; padding-top: 1rem">
          <button class="opinion <%= dimension %>" type="button"><span class="huge" data-rating-param="<%= dimension %>" data-rating-value="1"><%= Emoji::RED.sample %></span></button>
          <button class="opinion <%= dimension %>" type="button"><span class="huge" data-rating-param="<%= dimension %>" data-rating-value="2"><%= Emoji::YELLOW.sample %></span></button>
          <button class="opinion <%= dimension %>" type="button"><span class="huge" data-rating-param="<%= dimension %>" data-rating-value="3"><%= Emoji::GREEN.sample %></span></button>
        </div>
        <%= form.hidden_field dimension %>
      </div>
    <% end %>

    <br>
    <%= form.hidden_field :handle %>
    <%= form.hidden_field :healthcheck_id %>
    <%= form.submit disabled: @healthcheck.locked? %>
  <% end %>
</p>

<% if @opinion.persisted? && !@healthcheck.locked? %>
  <p>
    <%= button_to "Destroy this opinion; I’ll do it on another machine", opinion_path(@opinion, handle: @opinion.handle), method: 'delete' %>
  </p>
<% else %>
  <p>
    <%= button_tag "Destroy this opinion; I’ll do it on another machine", disabled: true %>
  </p>
<% end %>

<hr>

<p><%= Wisdom.sample %></p>

<%= link_to 'Back', root_path %>
